.Testimonial{
  padding: 50px 0px;
}
.projects {
  display: flex;
  flex-direction: row;
  /* background-color: rgb(255, 255, 255); */
  height: 100vh;
  justify-content: center;
  color: wheat;
  align-items: center;

  min-height: 100%;
}
.testimonial_head
{
  margin: 20px;
  color: white;
  font-size:50px;
}
.projects_tab {
  padding: 10px 20px;
  flex-direction: row;
  color: white;
  margin: 10px 20px;
  color: wheat;
  justify-content: space-around;
  align-items: center;
}
.image_box {
  overflow: hidden;
  border: 1px solid rgb(0, 0, 0);
}
.image_box:hover {
  transform: scale(1.1);
}

.projects_tab p{
    text-align: center;
    color: gray;
    font-size: 12px;
}
.prenextbtn{
  border: 1px solid white;
  border-radius: 100px;
  padding: 10px;
  min-width: 100px ;
}
.view_btn{
  font-size: 18px;
  color: rgb(219, 216, 4);
  text-decoration: underline;
}
.view_btn:hover{
  color: white;
}
.prenextbtn:disabled{
  display: none;
}
@media screen and (max-width:800px) {
  .projects{
    flex-direction: column;
    height: 100%;
  }
  .testimonial_head{

font-size: 25px;
    }  }